@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@theme {
  --color-white: #fff;
  --color-blue: #1f2cc1;
  --color-light-blue: #1f2cc180;
  --color-fblue: #0c0d25;
  --color-orange: #ffc700;
  --color-light-orange: #ffc70070;
  --color-black: #0f0f0f;
  --color-gray: #1a1a1a;
  --color-strokegray: #747474;

  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
