@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@theme {
  --color-white: #fff;
  --color-blue: #1f2cc1;
  --color-light-blue: #1f2cc180;
  --color-fblue: #0c0d25;
  --color-orange: #ffc700;
  --color-light-orange: #ffc70070;
  --color-black: #0f0f0f;
  --color-gray: #1a1a1a;
  --color-strokegray: #747474;

  --font-poppins: Quicksand, Poppins, sans-serif;
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
